.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  > h1 {
    margin: 0;
    font-weight: 100;
  }

  > nav {
    height: 3rem;
    display: flex;
    place-items: center;

    img {
      height: 3rem;
    }
  }
}
